/* global */
.header{
  height: 200px;
  position: relative;
}

.main-nav {
  position: absolute;
  top: 93px;
}

.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
 
}

.hidden {
  display: none;
}

/* menu */
.main-naves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.buttons-menu {
  flex-basis: 49.5%;
  position: relative;
  overflow: hidden;
  font-weight: 100;
  height: 120px;
  width: 150px;
  border-radius: $radius;
  font-weight: $font-bold;
  font-family: $font-header;
  font-size: 14px;
  color: $color-light;
  cursor: pointer;
  color: $color-light;

  a{
    text-decoration: none;
    font-size: 24px;
    color: $color-light;
    top: 33%;
    right: 26%;
    position: absolute;
    transition: 0.5s;
    text-transform: uppercase;
  }
}

.up-text{
  opacity: 0;
  top: 82%;
  right: 22%;
  position: absolute;
  transition: 0.5s;
  font-family: $font-text;
}

.link-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-open{
  width: 100%;
  height: 118px;
  margin-top: 7px;
  padding-top: 27px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: $font-text;
  background-color: $color-main;
  border-radius: 5px;

  b {
    font-family: $font-header;
    font-size: 25px;
  }
}